@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 200, 200, 200;
	--foreground-highlight-rgb: 255, 255, 255;
	--background-rgb: 18, 21, 37;
	--background-highlight-rgb: 24, 28, 47;
	--primary-rgb: 4, 21, 64;
}

body {
	color: rgb(var(--foreground-rgb));
	background-color: rgb(var(--background-rgb));
}
